force-app/main/default/flows/Create_Connection_Records_Multi_Option.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_Connection_Collection</name>
        <label>Add to Connection Collection</label>
        <locationX>1239</locationX>
        <locationY>1749</locationY>
        <assignmentItems>
            <assignToReference>ConnectionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varConnection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Volunteers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_checkbox_groups_to_variables</name>
        <label>Assign checkbox groups to variables</label>
        <locationX>404</locationX>
        <locationY>1024</locationY>
        <assignmentItems>
            <assignToReference>varSelectedVolunteer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Volunteers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedParticipant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Participants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Match_or_Manual_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_checkbox_groups_to_variables_0</name>
        <label>Assign checkbox groups to variables</label>
        <locationX>148</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>varSelectedParticipant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Participants</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_checkbox_groups_to_variables_0_0</name>
        <label>Assign checkbox groups to variables</label>
        <locationX>50</locationX>
        <locationY>1206</locationY>
        <assignmentItems>
            <assignToReference>varSelectedVolunteer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Volunteers</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_to_Variable</name>
        <label>Assign to Variable</label>
        <locationX>1424</locationX>
        <locationY>1639</locationY>
        <assignmentItems>
            <assignToReference>varConnection.Service_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participants.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConnection.Volunteer_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Volunteers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConnection.Parent_Connection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Parent_Connection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Connection_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Date_of_Service_Delivery_to_Date_Variable</name>
        <label>Assigning Date of Service Delivery to Date Variable</label>
        <locationX>418</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>DateAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_ServiceDelivery</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Service_Deliveries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Date_of_Volunteer_Hours_to_Date_Variable</name>
        <label>Assigning Date of Volunteer Hours to Date Variable</label>
        <locationX>587</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>DateAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Volunteer_Hours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Service_Deliveries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_All_Participants</name>
        <label>Collect All Participants</label>
        <locationX>1570</locationX>
        <locationY>1027</locationY>
        <assignmentItems>
            <assignToReference>SelectedParticipantsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Service_Deliveries_for_Record_Choice_Set</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Deliveries_for_Record_Choice_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_All_Participants_0</name>
        <label>Collect All Participants</label>
        <locationX>1680</locationX>
        <locationY>1360</locationY>
        <assignmentItems>
            <assignToReference>SelectedParticipantsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Service_Deliveries_for_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Deliveries_for_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_All_Volunteers</name>
        <label>Collect All Volunteers</label>
        <locationX>924</locationX>
        <locationY>1037</locationY>
        <assignmentItems>
            <assignToReference>SelectedVolunteersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Volunteers_for_Record_Choice_Set</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Volunteers_for_Record_Choice_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_All_Volunteers_0</name>
        <label>Collect All Volunteers</label>
        <locationX>941</locationX>
        <locationY>1345</locationY>
        <assignmentItems>
            <assignToReference>SelectedVolunteersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Volunteer_for_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Volunteer_for_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Connections_Flow_Selections</name>
        <label>Connections Flow Selections</label>
        <locationX>1072</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>Volunteers_for_Record_Choice_Set.Connections_Flow_Selections__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_Volunteers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Connections_Flow_Selections_0</name>
        <label>Connections Flow Selections</label>
        <locationX>1726</locationX>
        <locationY>970</locationY>
        <assignmentItems>
            <assignToReference>Service_Deliveries_for_Record_Choice_Set.Connections_Flow_Selections__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_Participants</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ManualStartingParticipant</name>
        <choiceText>Manually match participants to volunteers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manually match participants to volunteers</stringValue>
        </value>
    </choices>
    <choices>
        <name>ManualStartingVolunteer</name>
        <choiceText>Manually match volunteers to participants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manually match volunteers to participants</stringValue>
        </value>
    </choices>
    <choices>
        <name>MatchAll</name>
        <choiceText>Match all participants to all volunteers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Match all participants to all volunteers</stringValue>
        </value>
    </choices>
    <decisions>
        <name>All_Match_or_Manual_Match</name>
        <label>All Match or Manual Match</label>
        <locationX>457</locationX>
        <locationY>1245</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_kind_of_connections_do_you_want_to_make</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MatchAll</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Volunteer_for_Loop</targetReference>
            </connector>
            <label>All Match</label>
        </rules>
        <rules>
            <name>Manual_Match_Starting_Participant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_kind_of_connections_do_you_want_to_make</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ManualStartingParticipant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Volunteers_for_Record_Choice_Set</targetReference>
            </connector>
            <label>Manual Match Starting Participant</label>
        </rules>
        <rules>
            <name>Manual_Match_Starting_Volunteer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_kind_of_connections_do_you_want_to_make</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ManualStartingVolunteer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Deliveries_for_Record_Choice_Set</targetReference>
            </connector>
            <label>Manual Match Starting Volunteer</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_Match_or_Manual_Match_0</name>
        <label>All Match or Manual Match</label>
        <locationX>651</locationX>
        <locationY>1480</locationY>
        <defaultConnector>
            <targetReference>Starting_with_Volunteers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Match_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_kind_of_connections_do_you_want_to_make</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MatchAll</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Deliveries_for_Loop</targetReference>
            </connector>
            <label>All Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_Match_or_Manual_Match_0_0</name>
        <label>All Match or Manual Match</label>
        <locationX>1329</locationX>
        <locationY>1395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Match_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_kind_of_connections_do_you_want_to_make</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MatchAll</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Participants</targetReference>
            </connector>
            <label>All Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Participant_Selected</name>
        <label>Participant Selected</label>
        <locationX>1563</locationX>
        <locationY>848</locationY>
        <defaultConnector>
            <targetReference>Service_Deliveries_for_Record_Choice_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Participant_ID_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedParticipant</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Service_Deliveries_for_Record_Choice_Set.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connections_Flow_Selections_0</targetReference>
            </connector>
            <label>Participant ID was Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Participant_Selected_0</name>
        <label>Participant Selected</label>
        <locationX>1673</locationX>
        <locationY>1181</locationY>
        <defaultConnector>
            <targetReference>Service_Deliveries_for_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Participant_ID_was_Selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedParticipant</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Service_Deliveries_for_Loop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_All_Participants_0</targetReference>
            </connector>
            <label>Participant ID was Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Volunteer_Selected</name>
        <label>Volunteer Selected</label>
        <locationX>914</locationX>
        <locationY>875</locationY>
        <defaultConnector>
            <targetReference>Volunteers_for_Record_Choice_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Volunteer_Selected_in_MSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedVolunteer</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Volunteers_for_Record_Choice_Set.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connections_Flow_Selections</targetReference>
            </connector>
            <label>Volunteer Selected in MSP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Volunteer_Selected_0</name>
        <label>Volunteer Selected</label>
        <locationX>931</locationX>
        <locationY>1183</locationY>
        <defaultConnector>
            <targetReference>Volunteer_for_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Volunteer_Selected_in_MSP_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedVolunteer</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Volunteer_for_Loop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_All_Volunteers_0</targetReference>
            </connector>
            <label>Volunteer Selected in MSP</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_object_is_this_starting_from</name>
        <label>What object is this starting from?</label>
        <locationX>549</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Date_of_Event</targetReference>
            </connector>
            <label>Service</label>
        </rules>
        <rules>
            <name>Volunteer_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Job</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Volunteer_Date_of_Event</targetReference>
            </connector>
            <label>Volunteer Job</label>
        </rules>
        <rules>
            <name>Volunteer_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Hours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Volunteer_Date_of_Event_0</targetReference>
            </connector>
            <label>Volunteer Hours</label>
        </rules>
        <rules>
            <name>Service_Deliveries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Deliveries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Date_of_Event_0</targetReference>
            </connector>
            <label>Service Deliveries</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_object_is_this_starting_from_0</name>
        <label>What object is this starting from?</label>
        <locationX>281</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Assign_checkbox_groups_to_variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Volunteer_Hours_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Hours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_checkbox_groups_to_variables_0</targetReference>
            </connector>
            <label>Volunteer Hours</label>
        </rules>
        <rules>
            <name>Service_Deliveries1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Deliveries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_checkbox_groups_to_variables_0_0</targetReference>
            </connector>
            <label>Service Deliveries</label>
        </rules>
    </decisions>
    <description>Populates lookup fields on the connections record</description>
    <dynamicChoiceSets>
        <name>SelectedServiceDeliveriesChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Connections_Flow_Selections__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>pmdm__ServiceDelivery__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceDeliveriesChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pmdm__DeliveryDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateAssignment</elementReference>
            </value>
        </filters>
        <filters>
            <field>pmdm__Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceID</elementReference>
            </value>
        </filters>
        <object>pmdm__ServiceDelivery__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VolunteerHoursChoiceSet</name>
        <dataType>String</dataType>
        <displayField>GW_Volunteers__Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateAssignment</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VolunteerJobsID</elementReference>
            </value>
        </filters>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Connection Records - Multi-Option {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Connection Records - Multi-Option</label>
    <loops>
        <name>Loop_Participants</name>
        <label>Loop Participants</label>
        <locationX>1031</locationX>
        <locationY>1581</locationY>
        <collectionReference>SelectedParticipantsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Volunteers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Child_Connections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Volunteers</name>
        <label>Loop Volunteers</label>
        <locationX>1241</locationX>
        <locationY>1614</locationY>
        <collectionReference>SelectedVolunteersCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This would be used either if you are matching all or starting from the participants. No record updates are need because this will not be used in a record choice set.</description>
        <name>Service_Deliveries_for_Loop</name>
        <label>Service Deliveries for Loop</label>
        <locationX>1500</locationX>
        <locationY>1254</locationY>
        <collectionReference>Get_All_Service_Deliveries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Participant_Selected_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Match_or_Manual_Match_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Service_Deliveries_for_Record_Choice_Set</name>
        <label>Service Deliveries for Record Choice Set</label>
        <locationX>1390</locationX>
        <locationY>921</locationY>
        <collectionReference>Get_All_Service_Deliveries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Participant_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Selected_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Starting_with_Volunteers</name>
        <label>Starting with Volunteers</label>
        <locationX>498</locationX>
        <locationY>1606</locationY>
        <collectionReference>SelectedVolunteersCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_Volunteer_with_Participants</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>This would be used either if you are matching all or starting from the volunteers. No record updates are need because this will not be used in a record choice set.</description>
        <name>Volunteer_for_Loop</name>
        <label>Volunteer for Loop</label>
        <locationX>617</locationX>
        <locationY>1299</locationY>
        <collectionReference>Get_Volunteer_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Volunteer_Selected_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Match_or_Manual_Match_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Volunteers_for_Record_Choice_Set</name>
        <label>Volunteers for Record Choice Set</label>
        <locationX>600</locationX>
        <locationY>991</locationY>
        <collectionReference>Get_Volunteer_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Volunteer_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Selected_Volunteers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_Connections</name>
        <label>Create Child Connections</label>
        <locationX>1040</locationX>
        <locationY>1841</locationY>
        <inputReference>ConnectionCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_Connection</name>
        <label>Create Parent Connection</label>
        <locationX>496</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>What_object_is_this_starting_from</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get all service deliveries that match date and service</description>
        <name>Get_All_Service_Deliveries</name>
        <label>Get All Service Deliveries</label>
        <locationX>528</locationX>
        <locationY>781</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Volunteer_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pmdm__Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceID</elementReference>
            </value>
        </filters>
        <filters>
            <field>pmdm__DeliveryDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateAssignment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pmdm__ServiceDelivery__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Hours</name>
        <label>Get Volunteer Hours</label>
        <locationX>431</locationX>
        <locationY>844</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_Participants_and_Volunteers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateAssignment</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VolunteerJobsID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Selected_Participants</name>
        <label>Update Selected Participants</label>
        <locationX>1299</locationX>
        <locationY>1045</locationY>
        <connector>
            <targetReference>Volunteer_for_Loop</targetReference>
        </connector>
        <inputReference>SelectedParticipantsCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Volunteers</name>
        <label>Update Selected Volunteers</label>
        <locationX>694</locationX>
        <locationY>1068</locationY>
        <connector>
            <targetReference>Service_Deliveries_for_Loop</targetReference>
        </connector>
        <inputReference>SelectedVolunteersCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Match_Volunteer_with_Participants</name>
        <label>Match Volunteer with Participants</label>
        <locationX>657</locationX>
        <locationY>1626</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VolunteerInformation</name>
            <fieldText>&lt;p&gt;{!Starting_with_Volunteers.GW_Volunteers__Full_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Match_to_Participants</name>
            <choiceReferences>SelectedServiceDeliveriesChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Match to Participants</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Matching_Participants_and_Volunteers</name>
        <label>Matching Participants and Volunteers</label>
        <locationX>289</locationX>
        <locationY>916</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_object_is_this_starting_from_0</targetReference>
        </connector>
        <fields>
            <name>All_Participants</name>
            <choiceReferences>ServiceDeliveriesChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All Participants</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ObjectName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Service Deliveries</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>All_Volunteers</name>
            <choiceReferences>VolunteerHoursChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All Volunteers</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ObjectName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Volunteer Hours</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_kind_of_connections_do_you_want_to_make</name>
            <choiceReferences>MatchAll</choiceReferences>
            <choiceReferences>ManualStartingParticipant</choiceReferences>
            <choiceReferences>ManualStartingVolunteer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What kind of connections do you want to make?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Date_of_Event</name>
        <label>Service Date of Event</label>
        <locationX>414</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assigning_Date_of_Service_Delivery_to_Date_Variable</targetReference>
        </connector>
        <fields>
            <name>Date_of_ServiceDelivery</name>
            <dataType>Date</dataType>
            <fieldText>Date of Service Delivery</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VolunteerJobs</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Volunteer Job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Hours__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VolunteerJobsID</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Date_of_Event_0</name>
        <label>Service Deliveries Date of Event</label>
        <locationX>271</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Service_Deliveries</targetReference>
        </connector>
        <fields>
            <name>VolunteerJobs_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Volunteer Job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Hours__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VolunteerJobsID</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Volunteer_Date_of_Event</name>
        <label>Volunteer Job Date of Event</label>
        <locationX>683</locationX>
        <locationY>499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assigning_Date_of_Volunteer_Hours_to_Date_Variable</targetReference>
        </connector>
        <fields>
            <name>Date_of_Volunteer_Hours</name>
            <dataType>Date</dataType>
            <fieldText>Select the Date of Volunteer Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ServiceLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>pmdm__Service__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>pmdm__ServiceDelivery__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceID</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Volunteer_Date_of_Event_0</name>
        <label>Volunteer Hours Date of Event</label>
        <locationX>863</locationX>
        <locationY>427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Service_Deliveries</targetReference>
        </connector>
        <fields>
            <name>ServiceLookup_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>pmdm__Service__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>pmdm__ServiceDelivery__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceID</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Test</name>
            <fieldText>&lt;p&gt;{!varSelectedVolunteer}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>325</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Parent_Connection</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ConnectionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Connection__c</objectType>
    </variables>
    <variables>
        <name>DateAssignment</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedParticipantsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pmdm__ServiceDelivery__c</objectType>
    </variables>
    <variables>
        <name>SelectedVolunteersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>ServiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConnection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Connection__c</objectType>
    </variables>
    <variables>
        <name>varSelectedParticipant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedVolunteer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VolunteerJobsID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
