force-app/main/default/flows/Create_Connection_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_checkbox_groups_to_variables</name>
        <label>Assign checkbox groups to variables</label>
        <locationX>184</locationX>
        <locationY>869</locationY>
        <assignmentItems>
            <assignToReference>varSelectedVolunteer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Volunteers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedParticipant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Participants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Volunteers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Participants</name>
        <label>Assign Selected Participants</label>
        <locationX>715</locationX>
        <locationY>1234</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Service_Deliveries.Connection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Connection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Volunteers</name>
        <label>Assign Selected Volunteers</label>
        <locationX>700</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Volunteers.Connection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Connection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_Volunteers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_All_Participants</name>
        <label>Collect All Participants</label>
        <locationX>549</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>FinalSelectedParticipants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Service_Deliveries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Service_Deliveries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_All_Volunteers</name>
        <label>Collect All Volunteers</label>
        <locationX>538</locationX>
        <locationY>921</locationY>
        <assignmentItems>
            <assignToReference>FinalSelectedVolunteers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Volunteers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Volunteers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Participant_Selected</name>
        <label>Participant Selected</label>
        <locationX>519</locationX>
        <locationY>1144</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Service_Deliveries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Participant_ID_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedParticipant</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Service_Deliveries.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Participants</targetReference>
            </connector>
            <label>Participant ID was Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Volunteer_Selected</name>
        <label>Volunteer Selected</label>
        <locationX>561</locationX>
        <locationY>764</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Volunteers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Volunteer_Selected_in_MSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedVolunteer</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Volunteers.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Volunteers</targetReference>
            </connector>
            <label>Volunteer Selected in MSP</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_object_is_this_starting_from</name>
        <label>What object is this starting from?</label>
        <locationX>243</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Date_of_Event</targetReference>
            </connector>
            <label>Service</label>
        </rules>
        <rules>
            <name>Service_Deliveries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Delivery</stringValue>
                </rightValue>
            </conditions>
            <label>Service Deliveries</label>
        </rules>
        <rules>
            <name>Volunteer_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Hour</stringValue>
                </rightValue>
            </conditions>
            <label>Volunteer Hours</label>
        </rules>
        <rules>
            <name>Volunteer_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Job</stringValue>
                </rightValue>
            </conditions>
            <label>Volunteer Job</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ServiceDeliveriesChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pmdm__DeliveryDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date_of_ServiceDelivery</elementReference>
            </value>
        </filters>
        <filters>
            <field>pmdm__Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Connection__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pmdm__ServiceDelivery__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VolunteerHoursChoiceSet</name>
        <dataType>String</dataType>
        <displayField>GW_Volunteers__Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date_of_ServiceDelivery</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VolunteerJobs.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Connection__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Connetion Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Connection Records</label>
    <loops>
        <name>Loop_Through_Service_Deliveries</name>
        <label>Loop Through Service Deliveries</label>
        <locationX>370</locationX>
        <locationY>1164</locationY>
        <collectionReference>Get_All_Service_Deliveries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Participant_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Selected_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Volunteers</name>
        <label>Loop Through Volunteers</label>
        <locationX>414</locationX>
        <locationY>783</locationY>
        <collectionReference>Get_Volunteer_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Volunteer_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Selected_Volunteers_with_Connection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Connection</name>
        <label>Create Connection</label>
        <locationX>86</locationX>
        <locationY>738</locationY>
        <connector>
            <targetReference>Matching_Participants_and_Volunteers</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get all service deliveries that match date and service</description>
        <name>Get_All_Service_Deliveries</name>
        <label>Get All Service Deliveries</label>
        <locationX>254</locationX>
        <locationY>491</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Volunteer_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pmdm__Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>pmdm__DeliveryDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date_of_ServiceDelivery</elementReference>
            </value>
        </filters>
        <filters>
            <field>Connection__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pmdm__ServiceDelivery__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Hours</name>
        <label>Get Volunteer Hours</label>
        <locationX>248</locationX>
        <locationY>640</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Connection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date_of_ServiceDelivery</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VolunteerJobs.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Connection__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Selected_Participants</name>
        <label>Update Selected Participants</label>
        <locationX>286</locationX>
        <locationY>1345</locationY>
        <inputReference>FinalSelectedParticipants</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Volunteers_with_Connection</name>
        <label>Update Selected Volunteers with Connection</label>
        <locationX>371</locationX>
        <locationY>1002</locationY>
        <connector>
            <targetReference>Loop_Through_Service_Deliveries</targetReference>
        </connector>
        <inputReference>FinalSelectedVolunteers</inputReference>
    </recordUpdates>
    <screens>
        <name>Matching_Participants_and_Volunteers</name>
        <label>Matching Participants and Volunteers</label>
        <locationX>50</locationX>
        <locationY>871</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_checkbox_groups_to_variables</targetReference>
        </connector>
        <fields>
            <name>All_Participants</name>
            <choiceReferences>ServiceDeliveriesChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All Participants</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>All_Volunteers</name>
            <choiceReferences>VolunteerHoursChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All Volunteers</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Date_of_Event</name>
        <label>Service Date of Event</label>
        <locationX>237</locationX>
        <locationY>328</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Service_Deliveries</targetReference>
        </connector>
        <fields>
            <name>Date_of_ServiceDelivery</name>
            <dataType>Date</dataType>
            <fieldText>Date of Service Delivery</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VolunteerJobs</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Volunteer Job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Hours__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>123</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>What_object_is_this_starting_from</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalSelectedParticipants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pmdm__ServiceDelivery__c</objectType>
    </variables>
    <variables>
        <name>FinalSelectedVolunteers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedParticipant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedVolunteer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
