force-app/main/default/flows/Create_Connection_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_checkbox_groups_to_variables</name>
        <label>Assign checkbox groups to variables</label>
        <locationX>297</locationX>
        <locationY>811</locationY>
        <assignmentItems>
            <assignToReference>varSelectedVolunteer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Volunteers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedParticipant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Participants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Volunteers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_checkbox_groups_to_variables_0</name>
        <label>Assign checkbox groups to variables</label>
        <locationX>295</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>varSelectedParticipant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Participants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Volunteers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_checkbox_groups_to_variables_0_0</name>
        <label>Assign checkbox groups to variables</label>
        <locationX>329</locationX>
        <locationY>1051</locationY>
        <assignmentItems>
            <assignToReference>varSelectedVolunteer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Volunteers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Volunteers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Participants</name>
        <label>Assign Selected Participants</label>
        <locationX>1031</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Service_Deliveries.Connection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Connection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Volunteers</name>
        <label>Assign Selected Volunteers</label>
        <locationX>1010</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Volunteers.Connection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Connection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_Volunteers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Date_of_Service_Delivery_to_Date_Variable</name>
        <label>Assigning Date of Service Delivery to Date Variable</label>
        <locationX>176</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>DateAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_ServiceDelivery</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Service_Deliveries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Date_of_Volunteer_Hours_to_Date_Variable</name>
        <label>Assigning Date of Volunteer Hours to Date Variable</label>
        <locationX>421</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>DateAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Volunteer_Hours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Service_Deliveries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_All_Participants</name>
        <label>Collect All Participants</label>
        <locationX>902</locationX>
        <locationY>1293</locationY>
        <assignmentItems>
            <assignToReference>FinalSelectedParticipants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Service_Deliveries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Service_Deliveries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_All_Volunteers</name>
        <label>Collect All Volunteers</label>
        <locationX>855</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>FinalSelectedVolunteers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Volunteers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Volunteers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Participant_Selected</name>
        <label>Participant Selected</label>
        <locationX>778</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Service_Deliveries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Participant_ID_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedParticipant</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Service_Deliveries.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Participants</targetReference>
            </connector>
            <label>Participant ID was Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Volunteer_Selected</name>
        <label>Volunteer Selected</label>
        <locationX>779</locationX>
        <locationY>770</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Volunteers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Volunteer_Selected_in_MSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedVolunteer</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Volunteers.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Volunteers</targetReference>
            </connector>
            <label>Volunteer Selected in MSP</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_object_is_this_starting_from</name>
        <label>What object is this starting from?</label>
        <locationX>307</locationX>
        <locationY>177</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Date_of_Event</targetReference>
            </connector>
            <label>Service</label>
        </rules>
        <rules>
            <name>Volunteer_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Job</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Volunteer_Date_of_Event</targetReference>
            </connector>
            <label>Volunteer Job</label>
        </rules>
        <rules>
            <name>Volunteer_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Hours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Volunteer_Date_of_Event_0</targetReference>
            </connector>
            <label>Volunteer Hours</label>
        </rules>
        <rules>
            <name>Service_Deliveries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Deliveries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Date_of_Event_0</targetReference>
            </connector>
            <label>Service Deliveries</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_object_is_this_starting_from_0</name>
        <label>What object is this starting from?</label>
        <locationX>39</locationX>
        <locationY>1010</locationY>
        <defaultConnector>
            <targetReference>Assign_checkbox_groups_to_variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Volunteer_Hours_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer Hours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_checkbox_groups_to_variables_0</targetReference>
            </connector>
            <label>Volunteer Hours</label>
        </rules>
        <rules>
            <name>Service_Deliveries1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Deliveries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_checkbox_groups_to_variables_0_0</targetReference>
            </connector>
            <label>Service Deliveries</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ServiceDeliveriesChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pmdm__DeliveryDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateAssignment</elementReference>
            </value>
        </filters>
        <filters>
            <field>pmdm__Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Connection__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pmdm__ServiceDelivery__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VolunteerHoursChoiceSet</name>
        <dataType>String</dataType>
        <displayField>GW_Volunteers__Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateAssignment</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VolunteerJobsID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Connection__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Connetion Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Connection Records</label>
    <loops>
        <name>Loop_Through_Service_Deliveries</name>
        <label>Loop Through Service Deliveries</label>
        <locationX>631</locationX>
        <locationY>1175</locationY>
        <collectionReference>Get_All_Service_Deliveries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Participant_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Selected_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Volunteers</name>
        <label>Loop Through Volunteers</label>
        <locationX>647</locationX>
        <locationY>792</locationY>
        <collectionReference>Get_Volunteer_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Volunteer_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Selected_Volunteers_with_Connection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Connection</name>
        <label>Create Connection</label>
        <locationX>86</locationX>
        <locationY>738</locationY>
        <connector>
            <targetReference>Matching_Participants_and_Volunteers</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get all service deliveries that match date and service</description>
        <name>Get_All_Service_Deliveries</name>
        <label>Get All Service Deliveries</label>
        <locationX>286</locationX>
        <locationY>604</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Volunteer_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pmdm__Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceID</elementReference>
            </value>
        </filters>
        <filters>
            <field>pmdm__DeliveryDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateAssignment</elementReference>
            </value>
        </filters>
        <filters>
            <field>Connection__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pmdm__ServiceDelivery__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Hours</name>
        <label>Get Volunteer Hours</label>
        <locationX>222</locationX>
        <locationY>694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Connection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateAssignment</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VolunteerJobsID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Connection__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Selected_Participants</name>
        <label>Update Selected Participants</label>
        <locationX>660</locationX>
        <locationY>1381</locationY>
        <inputReference>FinalSelectedParticipants</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Volunteers_with_Connection</name>
        <label>Update Selected Volunteers with Connection</label>
        <locationX>693</locationX>
        <locationY>1005</locationY>
        <connector>
            <targetReference>Loop_Through_Service_Deliveries</targetReference>
        </connector>
        <inputReference>FinalSelectedVolunteers</inputReference>
    </recordUpdates>
    <screens>
        <name>Matching_Participants_and_Volunteers</name>
        <label>Matching Participants and Volunteers</label>
        <locationX>50</locationX>
        <locationY>871</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_object_is_this_starting_from_0</targetReference>
        </connector>
        <fields>
            <name>All_Participants</name>
            <choiceReferences>ServiceDeliveriesChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All Participants</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ObjectName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Service Deliveries</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>All_Volunteers</name>
            <choiceReferences>VolunteerHoursChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All Volunteers</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ObjectName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Volunteer Hours</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Date_of_Event</name>
        <label>Service Date of Event</label>
        <locationX>172</locationX>
        <locationY>339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assigning_Date_of_Service_Delivery_to_Date_Variable</targetReference>
        </connector>
        <fields>
            <name>Date_of_ServiceDelivery</name>
            <dataType>Date</dataType>
            <fieldText>Date of Service Delivery</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VolunteerJobs</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Volunteer Job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Hours__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VolunteerJobsID</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Date_of_Event_0</name>
        <label>Service Deliveries Date of Event</label>
        <locationX>29</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Service_Deliveries</targetReference>
        </connector>
        <fields>
            <name>VolunteerJobs_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Volunteer Job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>GW_Volunteers__Volunteer_Hours__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VolunteerJobsID</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Volunteer_Date_of_Event</name>
        <label>Volunteer Job Date of Event</label>
        <locationX>441</locationX>
        <locationY>322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assigning_Date_of_Volunteer_Hours_to_Date_Variable</targetReference>
        </connector>
        <fields>
            <name>Date_of_Volunteer_Hours</name>
            <dataType>Date</dataType>
            <fieldText>Select the Date of Volunteer Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ServiceLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>pmdm__Service__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>pmdm__ServiceDelivery__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceID</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Volunteer_Date_of_Event_0</name>
        <label>Volunteer Hours Date of Event</label>
        <locationX>683</locationX>
        <locationY>324</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Service_Deliveries</targetReference>
        </connector>
        <fields>
            <name>ServiceLookup_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>pmdm__Service__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>pmdm__ServiceDelivery__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceID</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>187</locationX>
        <locationY>2</locationY>
        <connector>
            <targetReference>What_object_is_this_starting_from</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DateAssignment</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalSelectedParticipants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pmdm__ServiceDelivery__c</objectType>
    </variables>
    <variables>
        <name>FinalSelectedVolunteers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Hours__c</objectType>
    </variables>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedParticipant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedVolunteer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VolunteerJobsID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
